{% extends "blog/base.html" %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
  <h1>{{post.title}}</h1>
  <p class="date">Published {{post.publish}} by {{post.author}}</p>
  {{post.body|linebreaks}}
  <p>
    <a href="{% url 'blog:post_share' post.id %}">Поделиться этой статьей</a> {# шаблонный тег url используется для динамического формирования ссылок; #}
                                                                              {# задавая пространство имен blog и URL с названием post_share и добавляя в качестве параметра ID статьи #}
                                                                              {# мы получаем абсолютный URL #}
  </p>
{% endblock %}
