{# Это шаблон для отображения формы или информации об успешной отправке сообщения.#}
{# В него передается объект формы #}

{% extends "blog/base.html" %}

{% block title %}Поделиться сатьей{% endblock %}

{% block content %}
  {% if sent %}
    <h1>Электронное письмо успешно отравлено</h1>
    <p>"{{post.title}}" было успешно отправлено {{form.cleaned_data.to}}.</p>
  {% else %}
    <h1>Поделиться статьей: "{{post.title}}"</h1>
    <form action="share" method="post"> {# action="." - обращаемся к текущему обработчику; использован action="share" для ссылки без обратного слеша #}
      {{form.as_p}} {# с помощью метода as_p генерирует поля формы как параграфа <p>;         #}
                    {# также можно: as_ul - как ненумерованный список, as_table - как таблицу.#}
                    {# Для вывода каждого поля по отдельности можно использовать:             #}
                    {# {% for field in form %}                                                #}
                    {#   <div>                                                                #}
                    {#     {{ field.errors }}                                                 #}
                    {#     {{ field.label_tag }} {{ field }}                                  #}
                    {#   </div>                                                               #}
                    {# {% endfor %}                                                 	      #}
      {% csrf_token %} {# скрытое поле с автоматически сгенерированным токеном для защиты от подделки межсайтовых запросов (Сross Site Request Forgery – CSRF-атак). #}
      <input type="submit" value="Отправить письмо">
    </form>
  {% endif %}
{% endblock %}
